/* Accent Colour: #5A7F85 */

/* General */
a { color: #5A7F85; }
div.container { overflow: hidden; margin: 40px auto; width: 960px; }
h2 { font-weight: bold; font-size: 16px; color: #404040; margin: 0 0 0.81em; line-height: 1.62em; }
h4 { font-weight: bold; font-size: 14px; color: #404040; margin: 0 0 0.81em; line-height: 1.62em; }
p { font-size: 12px; color: #404040; margin: 0 0 0.81em; line-height: 1.25em}
img {margin: 0; padding: 0} 


/* Header */
#header { background: #FFF; border-bottom: 1px solid #ccc;}
#header h1 { line-height: 1; float: left; margin: 10px 0 0 0; font-size: 20px; font-weight: bold; color: #555; }
#header h1 a { line-height: 1; float: left; margin: 0; font-size: 20px; font-weight: bold; color: #555; }
#header h1 a:hover { text-decoration: none; }
#header h1 span { font-size: 18px; font-weight: bold; color: #ADBFC2; }
#header h1 span.beta { font-size: 18px; color: #FF5555; }
#header p { float: left; line-height: 1; margin: 20px 0 0 10px; font-size: 18px; color: #D6DFE1; position: relative; bottom: -8px;  }

#menu { width: 100%; background-color: #eee; margin: 0px; padding: 0px; text-align: center; height: 23px;
  border-bottom: 1px solid #ccc;
}

#logo {float:left; margin: 0; padding: 0 15px 0 15px;}

#nav {float: right;} 
.subnav {position: relative; margin: 0; margin: 20px  5px 4px 5px; float: left; color: #ADBFC2}
.logomo {position: relative; margin: 0; margin: 3px 5px 0 5px; float: left; border:0px }

.text {padding: 10px 5px;}

#logout, #apply {margin-right: 30px;}
#logout, #apply, #options, #login, #who {font-weight: bold;}


#m-routes, #m-notif, #m-new {float:right; margin: 5px 7px; color: #555}
#m-routes a, #m-notif a, #m-new a { line-height: 1; margin: 0; font-size: 13px; color: #555; text-decoration:none;}

.explication {
   margin: 5px 15px;
}

.explication p {
   padding-top: 4px;
   font-size: 12px;
}

.route {
	padding: 5px;
	margin: 0px;
        border-bottom: 1px dotted #ccc;
        border-top: 1px dotted transparent;
}



.route:hover {
  background-color:#ecf0f3;

}

.route h4 a {color: #555;}
.route h4 {margin:0 0 0 5px } 
.route p {
	padding: 2px;
}

.subroute {
	margin-left: 15px;
}

.mini-icon {
  vertical-align: top;
  margin-top: -2px;
}


.contentnomap ul li {
  padding: 5px; 
  list-style:none;
}


#map_legend{ background: #FFF;}

.sublegend { height: 30px; float: left; padding: 2px 5px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; margin-bottom: -1px} 

.sublegend img {vertical-align: middle;}

#map_canvas {border-top: 1px solid #ccc;}

.faq, .text {
  padding:10px 0 10px 0; 
  border-bottom: 1px dotted #555 
}

.faq:hover, .text:hover {
  background-color:#ecf0f3;
}

.faq h3 {
  font-weight: bold;
  margin-bottom: 4px;
}


.faq ol li {
    padding: 3px;
}

.infoicon {
	position:relative;
	float:left;
        padding-right: 5px;
}

.form {
	padding: 5px 20px;
}

.formbutton {
	text-align: right;
        padding: 20px 0;
}

.formbutton input{
        padding: 20px 0;
}



.warning {
	margin: 10px;
	padding : 10px;
	background-color: #eee;
	border-style: solid;
	border-width: 1px;
	border-color: #555;
	font-weight: bold;
}

/* Panels */
div.ui-layout-west { 
  overflow: auto; 
  padding: 0px;
  float: left;
}


.mainnomap {
	margin: 70px auto;
	width: 500px;
}


#panels { padding: 15px 5px; overflow: hidden; width: 95%}
#panels p { font-size: 12px; color: #000000; }
#panels div.panel h2 { line-height: 1; font-weight: bold; padding: 5px 0 5px 10px; margin: 0; font-size: 16px; }
#panels div.panel h2 a.link-text-selected { font-weight: bold; color: #000; }
#panels div.panel h2 a.link-text-selected:hover { text-decoration: none; cursor: pointer; }
#panels div.content { padding: 12px; }
#panels div.content p { margin: auto; }

/* Error display */
#error-widget { display: none; }

/* Plan a Trip */
#panels form { margin: auto; }
#panels form div { clear: both; overflow: hidden; margin: 0; padding: 0 0 5px; }
#panels form div.submit { width: 100%; margin: 0; padding: 8px 0 0 0; text-align: right; }
#panels form p.error { color:#F00; }
#panels form a.help { color:#22F; }
#panels form p input { width: 228px; }
#panels form div.location-input { width: 248px; clear: none; float: left; overflow: hidden;}
#panels form div.reverse-input { clear: none; padding: 32px 0px; vertical-align: middle; overflow: hidden;}

/* Directions */
#route-plan { display: none; }
#route-plan ol { margin: 0; padding: 0; }
#route-plan ol li { margin: 0 0 10px; padding: 0 0 10px 24px; list-style: none; background-position: top left; background-repeat: no-repeat; border-bottom: 1px dotted #808080; }
#route-plan ol li.depart { background-image: url('../images/label_from.png');}
#route-plan ol li.walk { background-image: url('../images/icon_walk.png'); }
#route-plan ol li.board { background-image: url('../images/icon_bus.png'); }
#route-plan ol li.alight { background-image: url('../images/icon_walk.png'); }
#route-plan ol li.arrive { background-image: url('../images/label_to.png');}
#route-plan p { margin: 0 0 10px; }
#route-plan p.feedback { color: #808080; margin: 0; }
#route-plan p.warning { color: #FF5555; }
#route-plan a { color: #22F; }

/* Map */
div.ui-layout-center { 
  margin: 0 auto;
  border-left: 1px solid #ccc;
}

div.ui-layout-south { 
  padding-top: 8px; 
  width: 95%;
  float: left;
}

#map_canvas { width: 100%; height: 100%; }
#map_canvas div.tooltip { white-space: nowrap; padding: 2px; color: #000000; font-weight: bold; font-size: 12px; }

/* About pages */
#content { margin: 10px 40px 20px 20px;}

/* Footer */
#footer p { margin: 0 0 10px; }
#footer p.nav { color: #C0C0C0; }
#footer p.legal { color: #808080; }

.sf_apply
{

  padding: 10px;
}

.sf_apply ul
{
  list-style: none;
  display: block;
}

.sf_apply li
{
  padding-top: 10px;
  padding-bottom: 10px;
}

.sf_apply label
{
  display: block;
  clear: left;
  float: left;
  width: 150px;
  padding-right: 20px;
}

label
{
  clear: right;
  padding-top: 10px;
  padding-right: 20px;
}

.sf_apply_notice
{
  padding-bottom: 20px;
  font-size: 125%;
}

#sf_apply_logged_in_as
{
  float: right;
  width: 160px;
  padding: 10px;
  border: 1px solid green;
}

#sf_apply_logged_in_as input
{
  margin-right: 4px;
}

#sf_guard_signin
{
  float: right;
  padding: 10px;
  width: 160px;
  border: 1px solid green;
}

#sf_guard_signin p
{
  padding-top: 10px;
}

#sf_guard_signin fieldset
{
  margin-bottom: 5px;
  border: none;
}

#sf_guard_signin .form-row
{
  padding: 5px;
}

#sf_guard_signin .form-row label
{
  display: block;
}

#sf_guard_signin .form-row input
{
  display: block;  
  width: 100px;
}

#sf_guard_auth_forgot_password
{
  display: block;
  padding-top: 10px;
}

#sf_apply_need_an_account
{
  padding-top: 10px;
  padding-bottom: 10px;
}

#sf_apply_logged_in_as p
{
  padding-bottom: 10px;
}

#sf_apply_logout
{
  display: block;
  float: left;
  padding-left: 10px;
  border: 1px solid green;
}

#sf_apply_settings
{
  display: block;
  padding-bottom: 10px;
}

#sf_apply_settings input
{
  margin-right: 4px;
}

#sf_guard_auth_form
{
  width: 350px;
}

#sf_guard_auth_form fieldset
{
  margin-bottom: 10px;
}

#sf_guard_auth_form .form-row
{
  clear: both;
  padding: 10px;
}

#sf_guard_auth_form label
{
  float: left;
  width: 150px;
}

#sf_guard_auth_form input
{
  display: block;
  width: 150px;
}

#sf_guard_auth_form .buttons
{
  border: none;
}

#sf_guard_auth_form .buttons input
{
  display: inline;
  width: auto;
}

#sf_guard_auth_form .buttons p
{
  padding-bottom: 10px;
}

h2.sf_apply_heading
{
  padding-bottom: 20px;
}

.sf_apply_notice p
{
  padding-bottom: 10px;
}

.sf_apply_notice a
{
  padding: 4px;
}

.sf_apply a
{
  padding: 4px;
}

#sf_apply_logged_in_as a
{
  padding: 4px;
}

